*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.6;
    background: white;
    color: black;
}
#contenedor{
    max-width:1200px;
    margin: 0 auto;
    background: #2e2e2e;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
}
.contenido{
    background-color: #f7f7f7; 
}
#header{
    background-color: #1F1F2E;
    color: #FF6F3C;; 
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    text-transform: uppercase;
    font-style: unset;
    text-shadow: 1px 1px 5px rgba(90, 87, 87, 0.5);
}
#barra{
    background-color: #fffdfd;
    border-bottom: 2px solid #000000;
}
#barra ul{
    display: flex;
    list-style:none;
    justify-content: center;
    gap: 10px
}
#barra a{
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: initial;
    padding: 15px 25px;
    text-decoration: none;
    transition: all 0.2s ease-in;
    margin-inline: 70px; 

}
#barra a:hover{
    color: #ffffff;
    background-color: #128fe2;
}
#barra a:hover::after{
    width: 60px;
}
.video-banner {
    width: 100%; 
    height: 260px;     
    object-fit: cover;
    display: block;
}
#Preguntas{
    padding: 60px 20px;
    text-align: center;
}
#Preguntas p{
    text-align: center;
    font-size: 1.35rem; 
    max-width: 800px;
    margin: 0 auto 100px auto;  
    padding: 0 20px;
    color: #000000;
    font-weight: bold;    
}
.titulo-pregunta {
    font-size: 1.8em; 
    margin-bottom: 0px;
    text-align: center; 
    margin-top: 30px;
    color: #128fe2;
}
.pregunta-lista {
    line-height: 1.5;
    font-size: 1.35rem; 
    font-weight: bold;
    color:#000000;
    text-align: center;
    list-style: none;
}
.lista2{
    display: flex;
    justify-content: center;
}
.pregunta-lista ol {
    margin-bottom: 6px;
}

#FAQ{
    background-color: #f0f0f0;
    padding: 60px 20px;
    text-align: center;
}
.titulo-faq {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #128fe2;
    font-weight: 700;
}
.faq-list {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}
.faq-list li {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
    list-style: none;
}
.faq-list p {
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #3d3b3b;
}
#footer {
    background-color: #1F1F2E;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
}
.footer-content p {
    margin-bottom: 15px;
}
.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
}
.footer-links a {
    color: #FF6F3C;
    text-decoration: none;
    font-weight: bold;
}
.Encabezado{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #128fe2
}
.contenedor-video{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contenedor-video iframe{
    border: 4px solid #128fe2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#proceso {
    display: flex;
    justify-content:right;
    gap: 50px;
    margin-top: 40px;
}
.paso-lista {
    border: 2px solid #128fe2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    padding: 12px;
    margin: 0 20px;
    line-height: 1.4;
    list-style: none;
    height: fit-content
}
.titulo {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #128fe2;
    text-align: center;
}
.paso-lista li {
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #eee7e7;
    border-radius: 10px;
    font-size: 1.1rem;
    
}
.nota{
    font-size: 1.25rem;
    font-style: italic;
    margin-left: 20px;
}
.tutoriales-Motores{
    margin-top: 40px;
}
.tutoriales-Motores titulo{
    text-align: center;
}
.motor-lista{
    margin-top: 30px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}
.motor-lista img {
    width: 130px;
    height: 130px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
}
.motor-lista img:hover {
    transform: scale(1.1);
}
.motor-lista li {
    border-radius: 15px;
    padding: 10px; 
    background-color: #f0f0f0;
}
.motor-lista a {
    text-decoration: none;
    font-weight: bold;
    color: #128fe2;
    transition: all 0.6 ease-in;
}
.motor-lista a:hover {
    color: #FF6F3C;
}
#proceso img{
    width: 100%;
    border-radius: 10px;
}
#aboutMe {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 50px;
    padding: 30px 40px;
    margin-bottom: 30px;
}
.perfil img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%; 
    border: 5px solid #FF6F3C;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.perfil img:hover {
    transform: scale(1.05);
}
.bio {
    max-width: 600px;
    line-height: 1.8;
    color: #333;
}
.bio h3 {
    color: #128fe2;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}
.bio p {
    margin-bottom: 15px;
    font-size: 1.35rem;
    text-align: justify;
    font-weight: bold;
    color: #000000;
}
.Lenguajes {
    padding-bottom: 50px;
}
.Lenguajes-lista {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.Lenguajes-lista li {
    background-color: #128fe2; 
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.Practicas {
    padding: 60px 20px;
    font-size: 1.20rem;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}
.titulo-concepto {
    color: #128fe2;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
}
.Concepto-GDD ul {
    border: 2px solid #128fe2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px auto;
    background-color: #f9f9f9;
    font-weight: bold;
    list-style: none;
}
.Concepto-GDD img {
    width: 400px;
    display: block;
    margin: 0 auto;
}
.enlace-concepto{
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #128fe2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}
.enlace-concepto:hover {
    background-color: #0b6cb8;
}
.intro{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 20px 60px;
    
}
.nivel h3{
    font-size: 1.7rem;
    color: #128fe2;
    margin: 20px 0px ;
    text-align: center;
    padding-bottom: 12px;
    
}
.cuadricula{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.modo-facil,
.modo-medio,
.modo-dificil{
    border-radius: 15px;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 350px;
    text-align: center;
    border: 2px solid #ff8000;
}
.game-img{ 
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
} 
.titulo-juego{ 
    font-size: 1.5rem; 
    color: #ff8000; 
    margin: 15px 0 10px; 
}
@media (max-width: 768px) {
    #contenedor{
        margin:0px;
        border-radius: 0; 
    }
    #barra ul {
        flex-direction: column;
    }
    #barra a{ 
        text-align: center;
        margin-inline: 0px;
    }
    #proceso {
        flex-direction: column;
        align-items: center;
    }
    .paso-lista {
        width: 80%;
        margin-bottom: 20px;
    }
    .motor-lista {
        flex-direction: column;
        align-items: center;
    }
    #aboutMe {
        flex-direction: column;
        align-items: center;
    }
    .bio {
        max-width: 100%;
    }
}